
      <section class="card">
        
        <button class="button__card">
          <a class="button__card--link" href="#"><i class="button__card--icon fa-regular fa-trash-can"></i>reset
        </a></button>
      

      
       <div class="card__paragragh">
          <p class="card__paragragh--title">Nombre Apellido</p>
          <p class="card__paragragh--desc">Front-end developer</p>
        </div>
        
          <img
            src="https://via.placeholder.com/255x250"
            alt="fotografía para mostrar en tu tarjeta personalizada"
          />
        

        <div class="card__icon">
          <ul class="card__icons">
            <li>
              <a href="#"><i class="card__icons--icon fa-solid fa-mobile-screen-button"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="card__icons--icon fa-regular fa-envelope"></i></i
              ></a>
            </li>
            <li>
              <a href="#"
                ><i class="card__icons--icon fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a href="#"
                ><i class="card__icons--icon fa-brands fa-github-alt"></i
              ></a>
            </li>
          </ul>
        </div>
        
      </section>