
      <section class="card js_card"> <!-- card--palette aparece aquí -->
        
        <button class="button__card">
          <a class="button__card--link" href="creatingCard.html"><i class="button__card--icon fa-regular fa-trash-can"></i>reset
        </a></button>
      

      
       <div class="card__paragragh">
          <p class="card__paragragh--title js_name_preview">Nombre Apellido</p>
          <p class="card__paragragh--desc js_job_preview">Front-end developer</p>
        </div>

          <img class="card__image"
            src="./assets/images/cardExample_palette1.jpg" 
            alt="fotografía para mostrar en tu tarjeta personalizada"
          />
          <!-- src="https://via.placeholder.com/510x500" -->
          <!-- ANTIGÜO: "https://via.placeholder.com/255x250" -->
      

        <div class="card__icon">
          
          <ul class="card__icons">
            <li>
              <a class="card__icon-link js_phone_preview">
                <i class="card__icons--icon fa-solid fa-mobile-screen-button"></i></a>
            </li>
            <li>
              <a class="card__icon-link js_email_preview"
                ><i class="card__icons--icon fa-regular fa-envelope"></i></i
              ></a>
            </li>
            <li>
              <a class="card__icon-link js_linkedin_preview"
                ><i class="card__icons--icon fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a class="card__icon-link js_github_preview"
                ><i class="card__icons--icon fa-brands fa-github-alt"></i
              ></a>
            </li>
          </ul>
        </div>
        
      </section>