<fieldset class="form__fieldset js_design_form">
  <legend class="form__title js_design_legend">
    <span class="form__icon fa-regular fa-object-ungroup"></span>
    diseña
    <span class="form__icon form__arrow fa-solid fa-chevron-down"></span>
  </legend>
  <div class="colors form__design">
    <label class="colors__title">colores</label>
    <div class="colors__container">
      <input type="radio" id="blue" name="palette" value="blue" />
      <label for="blue" class="colors__palette">
        <div class="divColors bluePalette"></div>
        <div class="divColors bluePalette"></div>
        <div class="divColors bluePalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="orange" name="palette" value="orange" />
      <label for="orange" class="colors__palette">
        <div class="divColors orangePalette"></div>
        <div class="divColors orangePalette"></div>
        <div class="divColors orangePalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="neutral" name="palette" value="neutral" />
      <label for="neutral" class="colors__palette">
        <div class="divColors neutralPalette"></div>
        <div class="divColors neutralPalette"></div>
        <div class="divColors neutralPalette"></div>
      </label>
    </div>
  </div>
</fieldset>
