<fieldset class="form__fieldset js_design_form">
  <!-- variable designForm -->
  <legend class="form__title">
    <!-- js_design_legend -->
    <span class="form__icon fa-regular fa-object-ungroup"></span>
    diseña
    <span class="form__icon form__arrow fa-solid fa-chevron-up"></span>
  </legend>
  <div class="colors form__design">
    <!-- form__design -> display: none -->
    <label class="colors__title">colores</label>
    <div class="colors__container">
      <input type="radio" id="blue" name="palette" value="1" class="color_palette_1" checked />
      <label for="blue" class="colors__palette">
        <div class="divColors bluePalette"></div>
        <div class="divColors bluePalette"></div>
        <div class="divColors bluePalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="orange" name="palette"
      class="color_palette_2" value="2" />
      <label for="orange" class="colors__palette">
        <div class="divColors orangePalette"></div>
        <div class="divColors orangePalette"></div>
        <div class="divColors orangePalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="neutral" name="palette"
      class="color_palette_3" value="3" />
      <label for="neutral" class="colors__palette">
        <div class="divColors neutralPalette"></div>
        <div class="divColors neutralPalette"></div>
        <div class="divColors neutralPalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="forest" name="palette" 
      class="color_palette_4" value="4" />
      <label for="forest" class="colors__palette">
        <div class="divColors forestPalette"></div>
        <div class="divColors forestPalette"></div>
        <div class="divColors forestPalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="medium" name="palette" class="color_palette_5" value="5" />
      <label for="medium" class="colors__palette">
        <div class="divColors mediumPalette"></div>
        <div class="divColors mediumPalette"></div>
        <div class="divColors mediumPalette"></div>
      </label>
    </div>
    <div class="colors__container">
      <input type="radio" id="maroon" name="palette" class="color_palette_6" value="6" />
      <label for="maroon" class="colors__palette">
        <div class="divColors maroonPalette"></div>
        <div class="divColors maroonPalette"></div>
        <div class="divColors maroonPalette"></div>
      </label>
    </div>
  </div>
</fieldset>
