<fieldset class="form__fieldset">
  <legend class="form__title">
    <span class="form__icon fa-regular fa-keyboard"></span>
    rellena
    <span class="form__icon form__arrow fa-solid fa-chevron-up"></span>
  </legend>

  <!--Nombre-->
  <section class="form__fill">
    <label class="form__label" for="name">
      Nombre completo
      <input
        class="form__input"
        id="name"
        type="text"
        name="name"
        placeholder="Ej: Sally Jill"
        required
      />
    </label>

    <!--Puesto-->
    <label class="form__label" for="position">
      Puesto
      <input
        class="form__input"
        id="position"
        type="text"
        name="position"
        placeholder="Ej: Front-end unicorn"
        required
      />
    </label>

    <!--Imagen de perfil-->

    <label class="form__label" for="position">Imagen de perfil</label>

    <div class="form__image">
      <label class="" for="image-selector"></label>
      <input class="btnPic" type="button" value="Añadir imagen" />
      <div class="square"></div>
    </div>

    <!--Email-->
    <label class="form__label" for="email">
      Email
      <input
        class="form__input"
        id="email"
        type="email"
        name="email"
        placeholder="Ej: sally-hill@gmail.com"
        required
      />
    </label>

    <!--Teléfono-->
    <label class="form__label" for="telephone">
      Teléfono
      <input
        class="form__input"
        id="telephone"
        type="tel"
        name="telephone"
        pattern=""
        placeholder="Ej: 555-55-55-55"
        required
      />
    </label>

    <!--Linkedin-->
    <label class="form__label" for="linkedin">
      Linkedin
      <input
        class="form__input"
        id="linkedin"
        type="url"
        name="linkedin"
        pattern=""
        placeholder="Ej: linkedin.com/in/sally.hill"
        required
      />
    </label>

    <!--Github-->
    <label class="form__label" for="github">
      Github
      <input
        class="form__input"
        id="github"
        type="url"
        name="github"
        pattern=""
        placeholder="Ej: @sally-hill"
        required
      />
    </label>
  </section>
</fieldset>
