<fieldset class="form__fieldset js_fill_form collapsed">
  <!-- variable fillForm -->
  <legend class="form__title">
    <!--  js_fill_legend -->
    <span class="form__icon fa-regular fa-keyboard"></span>
    rellena
    <span
      class="form__icon form__arrow collap-icon fa-solid fa-chevron-up"
    ></span>
  </legend>

  <!--Nombre-->
  <section class="form__fill">
    <!-- form__fill -> display: none -->
    <label class="form__label" for="name">
      Nombre completo
      <input
        class="form__input js_name_input"
        id="name"
        type="text"
        name="name"
        placeholder="Ej: Sally Jill"
        required
      />
    </label>

    <!--Puesto-->
    <label class="form__label" for="position">
      Puesto
      <input
        class="form__input js_job_input"
        id="job"
        type="text"
        name="job"
        placeholder="Ej: Front-end unicorn"
        required
      />
    </label>

    <!--Imagen de perfil-->

    <label class="form__label" for="position">Imagen de perfil</label>

    <div class="form__image">
      <label class="action__upload-btn" for="img-selector">Añadir imagen</label>
      <input
        class="btnPic js__profile-upload-btn action__hiddenField"
        id="img-selector"
        type="file"
        name="photo"
        value="Añadir imagen"
      />
      <div class="square">
        <div
          class="profile__image js__profile-image"
          style="
            background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
          "
        ></div>
      </div>
    </div>

    <!--Email-->
    <label class="form__label" for="email">
      Email
      <input
        class="form__input js_email_input"
        id="email"
        type="email"
        name="email"
        placeholder="Ej: sally-hill@gmail.com"
        required
      />
      <!-- NO FUNCIONA :'(  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"  -->
    </label>

    <!--Teléfono-->
    <label class="form__label" for="telephone">
      Teléfono
      <input
        class="form__input js_phone_input"
        id="phone"
        type="tel"
        name="phone"
        pattern="^(\(?(\+34|0034)\)?)?(6|7|8|9)(\d{8})$"
        placeholder="Ej: 555-55-55-55"
        required
      />
    </label>

    <!--Linkedin-->
    <label class="form__label" for="linkedin">
      Linkedin
      <input
        class="form__input js_linkedin_input"
        id="linkedin"
        type="text"
        name="linkedin"
        pattern=""
        placeholder="Ej: sally-hill"
        required
      />
    </label>

    <!--Github-->
    <label class="form__label" for="github">
      Github
      <input
        class="form__input js_github_input"
        id="github"
        type="text"
        name="github"
        pattern=""
        placeholder="Ej: sally-hill"
        required
      />
    </label>
  </section>
</fieldset>
