<fieldset class="form__fieldset">
  <legend class="form__title">
    <span class="form__icon fa-solid fa-share-nodes"></span>
    comparte
    <span class="form__icon form__arrow fa-solid fa-chevron-down"></span>
  </legend>
  <a href="">
    <a class="fa-light fa-address-card"></a>
    crear tarjeta
  </a>
</fieldset>

<article class="cardCreated">
  <a href="">
    <img src="" alt="" />
    Compartir en twitter
  </a>
  <h2 class="cardCreated__title">La tarjeta ha sido creada:</h2>
  <!--https://awesome-profile-card.com?id=A456DF0001-->
</article>
