<fieldset class="form__fieldset js_share_form collapsed">
  <!-- variable shareForm -->
  <legend class="form__title">
    <!-- js_share_legend -->
    <span class="form__icon fa-solid fa-share-nodes"></span>
    comparte
    <span class="form__icon form__arrow fa-solid fa-chevron-up"></span>
  </legend>
  <div class="form__share js-currentTargetCreated">
    <!-- form__share -> display: none -->
    <button class="btnCreated js-btnCreated js_shareBtn">
      <span class="btnCreated__icon fa-regular fa-address-card"></span>
      crear tarjeta
    </button>
    <p class="js_messageBox"></p>
    <span class="hr"></span>
    <article class="cardCreated js-hidden js_shareBox">
      <div class="">
        <h2 class="cardCreated__title">La tarjeta ha sido creada:</h2>
        <a
          class="cardCreated__link js_cardLink"
          href="https://awesome-profile-card.com?id=A456DF0001"
        >
          https://awesome-profile-card.com?id=A456DF0001
        </a>
      </div>
      <button class="cardCreated__btn">
        <span
          class="cardCreated__btn__icon fa-brands fa-x-twitter js_twitterLink"
        ></span>
        Compartir en twitter
      </button>

      <!-- <a class="cardCreated__btn" href="#" target="_blank">
        <div class="cardCreated__btn__icon fa-brands fa-x-twitter js_twitterLink">
          <i class="fa-brands fa-x-twitter"></i> Compartir en twitter</div
      ></a> -->

      <!-- <a class="link js-link-twitter" href="#" target="_blank">
        <div class="fieldset3__container--created_button">
          Compartir en <i class="fa-brands fa-x-twitter"></i></div
      ></a> -->
    </article>
  </div>
</fieldset>
