// fonts
$font-merri: 'Merriweather', serif;
$font-montse: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;
$bold: 800;
$semiBold: 600;
$regular: 400;

//sizes
$small: 1.3rem;
$medium: 1.6rem;
$large: 2rem;
$extralarge: 2.4rem;

// colors
$color-black: #000000;
$gunmetal:  #54585a;
$color-light-khaki: #f9f4dc;
$color-white-four: #f5f5f5;
$color-white-two: #ffffff;

$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf;

$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-orange: #e17334;
$color-gunmetal: #54585a;

$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;








