// fonts
$font-merri: 'Merriweather', serif;
$font-montse: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;
$bold: 800;
$semiBold: 600;
$regular: 400;


// colors
$color-black: #000000;
$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf;
$color-light-khaki: #f9f4dc;
$color-white-two: #ffffff;
$color-orange: #e17334;
$color-gunmetal: #54585a;






