    
    /*cuerpo*/
    .card {
        background-color: $color-silver;
        display: flex;
        flex-direction: column;
        align-items: center;

    /*Clases modificadoras para el evento click en JS*/
        &--palette1 {
            .card__paragragh--title  {
                color: $color-dark-green-blue;
                border-left: solid $color-dirty-blue 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-dirty-blue 0.3rem;
            }
            .card__icons--icon {
                color: $color-dark-green-blue;
                border: solid $color-hospital-green;
            }
        }

        &--palette2 {
            .card__paragragh--title  {
                color: $color-medium-violet-red;
                border-left: solid $color-violet 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-violet 0.3rem;
            }
            .card__icons--icon {
                color: $color-medium-violet-red;
                border: solid $color-misty-rose;
            }
        }

        &--palette3 {
            .card__paragragh--title  {
                color: $color-dried-blood;
                border-left: solid $color-rusty-red 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-rusty-red 0.3rem;
            }
            .card__icons--icon {
                color: $color-dried-blood;
                border: solid $color-orange;
            }
        }

        &--palette4 {
            .card__paragragh--title  {
                color: $color-slate;
                border-left: solid $color-faded-orange 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-faded-orange 0.3rem;
            }
            .card__icons--icon {
                color: $color-slate;
                border: solid $color-light-grey-blue;
            }
        }

            &--palette5 {
                .card__paragragh--title  {
                    color: $color-forest-green;
                    border-left: solid $color-dark-grey 0.3rem;
                }
                .card__paragragh--desc {
                    border-left: solid $color-dark-grey 0.3rem;
                }
                .card__icons--icon {
                    color: $color-forest-green;
                    border: solid $color-deep-pink;
                }
            }

            &--palette6 {
                .card__paragragh--title  {
                    color: $color-maroon;
                    border-left: solid $color-saddle-brown 0.3rem;
                }
                .card__paragragh--desc {
                    border-left: solid $color-saddle-brown 0.3rem;
                }
                .card__icons--icon {
                    color: $color-maroon;
                    border: solid $color-coral;
                }
            }

    }
    
    /*button*/
    
    .button__card {
        background-color: $color-dark-blue;
        border: solid white 0.1rem;
        border-radius: 25px;
        width: 7.5rem;
        height: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 3.8rem;
        margin-left: -165px;     // <---- BOTÓN DESPLAZADO A LA IZDA. 
        align-items: baseline;
        font-size: 1.3rem;
        &:hover {
            background-color: $color-dirty-blue;
        }
       
    }
    
    
    .button__card--link {
        font-size: 11px;
        text-decoration: none;
        color: $color-white-two;
        text-transform: uppercase;
    }
    
    .button__card--icon {
            font-size: 11px;
            color: $color-white-two;
            margin-right: 1rem;
        
    }
    
        /* ANCHO Y SOMBRA */
    .card__paragragh, /* .card__image, */ .card__icons {  
        max-width: 240px;
        box-shadow: $box-shadow;
    }

    /*name*/
    
    
    .card__paragragh {
        width: 24rem;
        background-color: $color-white-four;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
        
    }
    
    .card__paragragh--title {
        color: $color-dark-green-blue;
        font-family: $font-montse;
        font-size: 1.8rem;
        border-left: solid $color-dirty-blue 0.5rem;
        padding-left: 1rem;
        font-weight: $bold;
    }
    
    .card__paragragh--desc {
        color: $color-gunmetal;
        font-family: $font-montse;
        font-size: 1.6rem;
        border-left: solid $color-dirty-blue 0.5rem;
        padding-left: 1rem;
    }
    
    /*image*/
    
    .card__image1 {
        background-image: url("../images/cardExample_palette1.jpg");
        background-size: cover;
        background-position: center;
        width: 24rem;
        height: 25rem;
        /* display: block; */
    }

    .card__image2 {
        background-image: url("../images/cardExample_palette2.jpg");
        background-size: cover;
        background-position: center;
        width: 24rem;
        height: 25rem;
    }

    .card__image3 {
        background-image: url("../images/cardExample_palette3.jpg");
        background-size: cover;
        background-position: center;
        width: 24rem;
        height: 25rem;
    }
    
    /*icons*/
    
    .card__icons {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
        width: 24rem;
        background-color: $color-white-four;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin-bottom: 3rem;
        padding-left: 1.75rem;
    }
    
   

    .card__icon-link {
        text-decoration: none;
        color: $color-dark-green-blue;
        display: flex;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 3rem;
        align-items: center;
        border: solid $color-hospital-green 0.275rem;
        border-radius: 50%;
        margin-left: 0.75rem;
    }
    
    
    