    
    /*cuerpo*/
    .card {
        background-color: $color-silver;
        display: flex;
        flex-direction: column;
        align-items: center;

    /*Clases modificadoras para el evento click en JS*/
        &--palette1 {
            .card__paragragh--title  {
                color: $color-dark-green-blue;
                border-left: solid $color-dirty-blue 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-dirty-blue 0.3rem;
            }
            .card__icons--icon {
                color: $color-dark-green-blue;
                border: solid $color-hospital-green;
            }
        }

        &--palette2 {
            .card__paragragh--title  {
                color: $color-dried-blood;
                border-left: solid $color-rusty-red 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-rusty-red 0.3rem;
            }
            .card__icons--icon {
                color: $color-dried-blood;
                border: solid $color-orange;
            }
        }

        &--palette3 {
            .card__paragragh--title  {
                color: $color-slate;
                border-left: solid $color-faded-orange 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-faded-orange 0.3rem;
            }
            .card__icons--icon {
                color: $color-slate;
                border: solid $color-light-grey-blue;
            }
        }

        &--palette4 {
            .card__paragragh--title  {
                color: $color-forest-green;
                border-left: solid $color-dark-grey 0.3rem;
            }
            .card__paragragh--desc {
                border-left: solid $color-dark-grey 0.3rem;
            }
            .card__icons--icon {
                color: $color-forest-green;
                border: solid $color-deep-pink;
            }
        }

            &--palette5 {
                .card__paragragh--title  {
                    color: $color-medium-violet-red;
                    border-left: solid $color-violet 0.3rem;
                }
                .card__paragragh--desc {
                    border-left: solid $color-violet 0.3rem;
                }
                .card__icons--icon {
                    color: $color-medium-violet-red;
                    border: solid $color-misty-rose;
                }
            }

            &--palette6 {
                .card__paragragh--title  {
                    color: $color-maroon;
                    border-left: solid $color-saddle-brown 0.3rem;
                }
                .card__paragragh--desc {
                    border-left: solid $color-saddle-brown 0.3rem;
                }
                .card__icons--icon {
                    color: $color-maroon;
                    border: solid $color-coral;
                }
            }

    }
    
    /*button*/
    
    .button__card {
        background-color: $color-silver;
        border: solid white 0.1rem;
        border-radius: 25px;
        width: 7.5rem;
        height: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 3.8rem;
        margin-left: -165px;     // <---- BOTÓN DESPLAZADO A LA IZDA. 
        align-items: baseline;
       
    }
    
    
    .button__card--link {
        text-decoration: none;
        color: $color-gunmetal;
        text-transform: uppercase;
    }
    
    .button__card--icon {
            color: $color-gunmetal;
            margin-right: 1rem;
        
    }
    
        /* ANCHO Y SOMBRA */
    .card__paragragh, .card__image, .card__icons {  
        max-width: 240px;
        box-shadow: $box-shadow;
    }

    /*name*/
    
    
    .card__paragragh {
        width: 24rem;
        background-color: $color-white-four;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
        
    }
    
    .card__paragragh--title {
        color: $color-dark-green-blue;
        font-family: $font-montse;
        font-size: 1.8rem;
        border-left: solid $color-dirty-blue 0.3rem;
        padding-left: 1rem;
        font-weight: $bold;
    }
    
    .card__paragragh--desc {
        color: $color-gunmetal;
        font-family: $font-montse;
        font-size: 1.6rem;
        border-left: solid $color-dirty-blue 0.3rem;
        padding-left: 1rem;
    }
    
    /*image*/
    
    .card__image {
      /* width: 17rem; */      // <---- NO HACE FALTA 
    }
    
    /*icons*/
    
    .card__icons {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
        width: 24rem;
        background-color: $color-white-four;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin-bottom: 3rem;
        padding-right: 3.5rem;
    }
    
    .card__icons--icon {
        width: 2.5rem;
        height: 2.5rem;
        font-size: $large;
        color: $color-dark-green-blue;
        padding: 0.3rem;
        border: solid $color-hospital-green;
        border-radius: 50%;
        margin: 0.5rem;
        
    }
    
    