
:root {
    --font-merri: 'Merriweather', serif;
    --font-montse: 'Montserrat', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --bold: 800;
    --semiBold: 600;
    --regular: 400;
    
    
    /* colors*/
    --color-black: #000000;
    --color-dark-green-blue: #114e4e;
    --color-dirty-blue: #438792;
    --color-hospital-green: #a2deaf;
    --color-light-khaki: #f9f4dc;
    --color-white-two: #ffffff;
    --color-orange: #e17334;
    --color-gunmetal: #54585a;
    --color-silver: #bfcdd0;
    }
    

    
    
    
    
    /*cuerpo*/
    .card {
        background-color: var(--color-silver);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    /*button*/
    
    .button__card {
        background-color: var(--color-silver);
        border: solid white 0.1rem;
        border-radius: 25px;
        width: 7.5rem;
        height: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 3.8rem;
        align-items: baseline;
       
    }
    
    
    .button__card--link {
        text-decoration: none;
        color: var(--color-gunmetal);
        text-transform: uppercase;
    }
    
    .button__card--icon {
            color: var(--color-gunmetal);
            margin-right: 1rem;
        
    }
    
    
    /*name*/
    
    
    .card__paragragh {
        background-color: white;
        width: 17rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        
    }
    
    .card__paragragh--title {
        color: #114e4e;
        font-family: var(--font-montse);
        font-size: 1.8rem;
        border-left: solid var(--color-dirty-blue) 0.3rem;
        padding-left: 1rem;
    }
    
    .card__paragragh--desc {
        color: var(--color-gunmetal);
        font-size: 1.6rem;
        border-left: solid var(--color-dirty-blue) 0.3rem;
        padding-left: 1rem;
    }
    
    /*image*/
    
    .card__image {
      width: 17rem;
     
    }
    
    /*icons*/
    
    .card__icons {
        width: 17rem;
        background-color: white;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin-bottom: 3rem;
        padding-right: 3.5rem;
    }
    
    .card__icons--icon {
        width: 1.2rem;
        height: 1.2rem;
        color: var(--color-dark-green-blue);
        padding: 0.3rem;
        border: solid var(--color-hospital-green);
        border-radius: 50%;
        margin: 0.5rem;
    }
    
    