.form {

  &__fill {
    margin-top: 1rem;
  }

  &__label {
    display: block;
    color: $color-dark-green-blue;
    font-family: $font-open;
    font-size: $small;
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    margin: 0.5rem 0 1.5rem 0;
    padding: 0.5rem;
    width: 100%;
    font-family: $font-open;
    font-size: $small;
    border: solid 1px $color-hospital-green;

    &::placeholder {
      color: #c5c5c5;
    }
    &:focus {
      background-color: $color-white-four;
    }
  }
}

.form__image {
  display: flex;
}
