.form__title{
    color: $color-gunmetal;
    font-family: $font-open;
    //font-size: $bold;
    text-transform: uppercase;
}

.form__label{
    color: $color-dark-green-blue;
    font-family: $font-open;
    font-size: 0.8rem;
}