.form {
  /*background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
  linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
  linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
  background-size: 25px 25px;*/
  background-color: #a582d9;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23eee4f3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

  &__fieldset {
    border: 0;
    border-bottom: 1px solid lightgrey;
  }

  &__title {
    color: $color-gunmetal;
    text-transform: uppercase;
    font-family: $font-open;
    font-weight: $semiBold;
    font-size: $large;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }

  &__icon {
    color: $color-orange;
    font-size: 20px;
  }

  &__arrow {
    color: $color-gunmetal;
    margin-left: auto;
  }

  &__fill {
    margin-top: 1rem;
  }

  &__label {
    display: block;
    color: $color-dark-green-blue;
    font-family: $font-open;
    font-size: $small;
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    margin: 0.5rem 0 1.5rem 0;
    padding: 0.5rem;
    width: 100%;
    font-family: $font-open;
    font-size: $small;
    border: solid 1px $color-hospital-green;

    &::placeholder {
      color: #c5c5c5;
    }
    &:focus {
      background-color: $color-white-four;
    }
  }
}

.form__image {
  display: flex;

  .btnPic {
    background-color: $color-orange;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-family: $font-open;
    font-size: $small;
    width: 14rem;
    height: 3rem;
    color: $color-white-two;
    border: none;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  .square {
    border: solid 1px $color-hospital-green;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
  }
}
