.header {
  display: flex;
}
.header__container {
  display: flex;
  margin-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.header__img {
  display: flex;
  width: 20rem;
  height: 5rem;
}
@media all and (min-width: 768px){
  .header__img {
    margin-left: 4rem;
  }
}