<<<<<<< HEAD
.header {
  display: flex;
}
.header__container {
  display: flex;
  margin-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.header__img {
  display: flex;
  width: 20rem;
  height: 5rem;
=======
.header{
    display: flex;
}
.header__container{
    display: flex;
   
}
.header__img{
    width: 200px;
    height: 50px;
    margin: 0px 10px 10px 10px;
  

>>>>>>> footer
}
