@import 'core/variables';
@import 'core/reset';
@import 'layout/landing';
@import 'layout/design';
@import 'layout/fill';
@import 'layout/share';
@import 'layout/footer';
@import 'layout/aside';

.collapsed {
  .form__title {
    cursor: pointer;

    .form__icon {
      transform: rotate(180deg);
    }
  }

  .form__design,
  .form__fill,
  .form__share {
    display: none;
  }
}

.main {
  display:flex;
  flex-direction: column;
  padding: 27px 20px;

  @media(min-width: 768px) {
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 30px 40px;
    gap: 30px;
  }
}

.sectionForm {

  /* padding-right: 30px; */
  @media(min-width: 768px) {
    width: 329px;
  }
}

.card {
  border-radius: 6px;
  @media(min-width: 768px) {
    width: 45%;
  }
  @media(min-width: 1200px) {
    max-width: 700px;
  }
}