@import 'core/variables';
@import 'core/reset';
@import 'layout/landing';
@import 'layout/design';
@import 'layout/fill';
@import 'layout/share';
@import 'layout/footer';
@import 'layout/header';

.collapsed {
  .form__title {
    cursor: pointer;

    .form__icon {
      transform: rotate(180deg);
    }
  }

  .form__design,
  .form__fill,
  .form__share {
    display: none;
  }
}
