@import 'core/variables';
@import 'core/reset';
@import 'layout/landing';
@import 'layout/design';
@import 'layout/fill';
@import 'layout/share';
@import 'layout/footer';
@import 'layout/aside';
@import 'layout/header';

.collapsed {
  .form__title {
    cursor: pointer;

    .form__arrow {
      color: $color-gunmetal;
      transform: rotate(180deg);
      transition: transform 0.5s; /* suaviza la animación */
      &:hover {
        transform: rotate(180deg) translateY(-15%);
      }
    }
  }

  .form__design,
  .form__fill,
  .form__share {
    display: none;
  }
}

.main {
  display:flex;
  flex-direction: column;
  padding: 27px 20px;

  @media(min-width: 768px) {
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 30px 40px;
    gap: 30px;
  }
}

.sectionForm {

  /* padding-right: 30px; */
  @media(min-width: 768px) {
    width: 329px;
  }
}

.card {
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
  linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
  linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
  background-size: 25px 25px;
  background-color: #e8b0b7;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239f360d' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 6px;
  @media(min-width: 768px) {
    width: 45%;
  }
  @media(min-width: 1200px) {
    max-width: 700px;
  }
}

.form {
  /* padding: 27px 20px; */

  &__fieldset {
      border: 0;
      border-bottom: 1px solid lightgrey;
  }

  &__title {
      color: $color-gunmetal;
      text-transform: uppercase;
      font-family: $font-open;
      font-weight: $semiBold;
      font-size: $large;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
  }

  &__icon {
      color: $color-orange;
      font-size: 20px;
  }

  &__arrow {
      color: $color-white-grey; /* $gunmetal */
      margin-left: auto;
  }
}